.article {
  width: 100%;
  height: auto;
}

.article-image {
  width: 30%;
  float: right;
}

.article-description {
  font-family: "Abel";
  text-align: left;
}

.article-description > h1 {
  padding-left: 50px;
  width: 50%;
  font-size: 3.8em;
  font-weight: 400;
  color: #000;
  line-height: 100px;
  vertical-align: middle;
}

.article-description > p {
  padding-left: 50px;
  width: 50%;
  display: block;
  margin-bottom: 3rem !important;
  color: #6c757d;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .article-image {
    width: 100%;
    float: none;
  }
  .article-description {
    width: 100%;
    height: auto;
    min-height: 100% !important;
  }
  .article-description > h1 {
    text-align: center;
    width: 100%;
    padding-left: 0px;
    font-size: 2rem;
    line-height: normal;
  }

  .article-description > p {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 0rem !important;
    padding: 0;
    color: #6c757d;
    text-align: center;
  }
}
